h1 {
	text-align: center;
}
.row {
  width: 100%;
  margin: 0 auto;
}
.block {
  width: 100px;
  float: left;
}
.wrapper{
	text-align: center;
	position: relative;
	padding: 0 15px;
}
button{

	margin-top: 20px;
}